<!DOCTYPE html>
<html>
  <head>
    <title>Bulky Updates</title>
    <%= stylesheet_link_tag "bulky/application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <header class="bulky-navbar bulky-navbar-fixed-top">
    <div class="bulky-navbar-inner">
      <div class="bulky-container">
        <a href="#" id="logo">
          <%= image_tag("bulky/bulky.jpg", size: "50x50") %>
        </a>
        <nav>
          <ul class="bulky-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Index", bulky_index_path %></li>
          </ul>
       </nav>
     </div>
   </div>
  </header>
  <body class="bulky-body">
    <div class="bulky-container">
      <%= notice %>
      <%= yield %>
    </div>
      <%# <%= render "layouts/bulky/footer" %>
  </body>
</html>
